<!-- &nbsp;<br> -->
<div>
  <div style="text-align: center;">
    <h2 >Popular Jobs</h2>
  </div>
  <br>
  <div class="row p-y-30">
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row p-y-30">
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="w3-container">
        <div class="w3-card-4">
          <header class="w3-container w3-light-grey">
            <h3>Job title</h3>
          </header>
          <div class="w3-container">
            <p>Job location & salary</p>
            <hr>
            <p>Job description.</p><br>
          </div>
          <button class="w3-button w3-block w3-dark-grey">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>